*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
#box0{
    background: #ccc;
}
#box1{
    width: 1000px;
    margin:0 auto;
    position: relative;
}
#box1>img{
    position:absolute;
}
#txtbox{
    height:20px;
    position: absolute;
    left:16px;
    overflow: hidden;
    position: relative;
}
#txt{
    color:red;
    position: absolute;
    left:1000px;
}

.box{
    width: 1200px;
    height: 397px;
    border: 1px solid #fff;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 8400px;
    position: absolute;
    left: -1200px;
}
.slide{
    width: 1200px;
    overflow: hidden;
    float: left;
}
.box>span{
    display: block;
    width: 30px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    color:white;
    top: 175px;
    line-height: 50px;
    background: rgb(255,0,0);
    font-size: 30px;
    position: absolute;
    opacity: 0;
}
#left{
    left: 30px;
}
#right{
    right: 30px;
}
.nav{
    position: absolute;
    left:500px;
    bottom: 20px;
}
.nav>li{
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #ccc;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
}
.nav .active{
    background: red;
    color:#fff;
}
